:root {
  --main-bg-color:  #f3f2f2;
  --secondary-bg-color: #f7f7f7;
  --main-font: "Open Sans";
  --main-font-color: #6c6c6c;
  --secondary-font: "Kaushan Script", cursive;
  --secondary-font-color: #4a4a4a;
  --light-font-color: #a2a1a1;
  --accent-color: #f7c223;
  --white: #fff;
  --black: #000;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--main-font), sans-serif;
    color: var(--main-font-color);
    max-width: 100vw;
    background-color: var(--main-bg-color);
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-font-color);
  }

  nav {
    font-family: var(--main-font), Arial, Verdana, sans-serif;
    font-weight: 800;
    letter-spacing: .05em;
    background-color: var(--main-bg-color);
    padding: 25px;
    display: flex;
    flex-direction: column;
  }

  nav a:hover {
   color: var(--accent-color);
  }

  nav h1 a {
    text-transform: capitalize;
  }

  h1, .top-nav {
    text-align: center;
  }
  
  .top-nav, .top-nav li {
    width: 100%;
  }
  
  h1 a, .top-nav a {
    color: var(--black);
  }

  .top-nav {
    margin-top: 30px;
  }
  
  #skills li,
  .top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: var(--white);
  }
  
  .top-nav a {
    text-transform: uppercase;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    color: var(--secondary-font-color);
    max-width: 100vw;
    margin: 0 auto;
    font-family: var(--main-font), sans-serif;
  }

  .container h2 {
    margin: 7vw;
    text-transform: uppercase;
  }

  .container h3 {
    font-size: 1.75em;
    margin: 5% 0px;
  }

  .container p {
    display: inline-block;
    max-width: 90%;
    font-size: 1.2em;
    line-height: 2rem;
    margin-bottom: 3%;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-bg-color);
    margin: 0px;
  }

  .intro img {
    margin:  7% 0px;
    max-width: 55%;
  }

  .intro p {
    font-size: 1.25rem;
    color: var(--light-font-color);
    text-align: center;
    display: inline-block;
    margin: 0px 12% 10% 12%;
    line-height: 1.75rem;
  }

  .intro h2 {
    margin-bottom: 10vh;
  }

  img {
    max-width: 97%;
    margin-bottom: 5%;
  }

  .col {
    margin: 10px;
    min-height: 250px;
    color: var(--main-font-color);
    text-align: center;
    letter-spacing: .1em;
    padding-top: 5px;
  }

  #skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--secondary-font);
  }

  #skills h2 {
    align-self: center;
    margin: 1%;
  }

  #skills ul {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1%;
  }

  #skills li {
    display: inline-block;
    margin: 2%;
    background-color: #4a4a4a;
    color: var(--accent-color);
    width: 25%;
    text-align: center;
  }

  #contact {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    min-height: 40vh;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  
  #contact a {
    text-transform: none;
    font-weight: 600;
  }

  #contact hr, h2 {
    margin-top: 10vh;
  }

  #contact p, hr {
    display: inline-block;
    width: 80%;
  }

  #contact hr { 
    border: 1px solid var(--light-font-color);
  }

  footer {
    background-color: var(--secondary-bg-color);
    color: var(--main-font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 5%;
    padding: 0 20px;
    font-weight: 800;
    min-height: 100px;
  }

  footer nav {
    background-color: var(--secondary-bg-color);
  }

  footer p {
    text-transform: capitalize;
  }
  
  #contact {
    background-color: var(--secondary-bg-color);
    color: var(--light-font-color);
  }

  #contact h2 {
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    .top-nav {
      margin-top: 1%;
    }
  
    .top-nav li {
      display: inline-block;
      width: auto;
      margin: 1% 2%;
      background-color: transparent;
    }
  
    .top-nav li:last-child {
      margin-right: 0;
    }
  
    .top-nav a {
      color: var(--main-font-color);
    }

    .intro {
      max-width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: space-around;
    }

    .intro p {
      text-align: left;
    }

    .intro img {
      max-width: 37%;
      margin: 0px 10px 0px 10px;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        align-items: flex-start;
        justify-content: center;
      }

   .portfolio {
      min-width: 55%;
      flex-basis: 55%;
      text-align: center;
    }
    .col {
        flex-basis: calc(50% - 20px);
    }

    footer {
      min-height: 20vh;
      justify-content: space-around;
      padding: 4% 0px;
      margin-bottom: 15vh;
    }

    .top {
      display: none;
    }
    
    .full {
      display: inline-block;
      margin-left: 20px;
    }
  }

  @media (min-width: 1024px) {
    body {
      max-width: 1025px;
      margin: 0 auto;
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px 25px;
    }
  
    .top-nav {
      display: flex;
      flex-direction: row;
      min-width: 50%;
      justify-content: flex-end;
    }

    .top-nav, 
    .top-nav li {
      width: initial;
      margin-bottom: 0;
    }

    .intro {
      margin-bottom: 25px;
      background-color: var(--main-bg-color);
    }

    .intro p {
      padding: 20px 25px;
      margin: 0 auto;
    }

    .col {
      flex-basis: calc(33.333% - 20px);
    }

    #portfolio {
      min-width: 80%;
    }
    
    #contact {
      width: 100%;
    }

    #contact p {
      display: block;
      max-width: 600px;
    }

    #contact h2 {
      margin: 3%;
    }

    footer {
      margin-bottom: 0px;
    }
  }

  @media (max-width: 767px) {
    .full {
      display: none;
    }
  }